.main-inner {
  background-color: #ccc;
}

.new-table-input {
  min-height: 40px;
  border-radius: 4px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.create-table {
  padding: 24px 12px;
}

.add-table {
  position: relative;
  min-height: 40px;
  border: 2px solid #000;
  border-radius: 4px;
  background-color: transparent;
  padding: 6px;
  color: #000;
  font-family: Georgia, "Times New Roman", Times, serif;
  cursor: pointer;
  transition: 0.7s border-color ease;
}
.add-table:hover {
  border-color: rgb(121, 121, 121);
  transition: 0.7s border-color ease;
}

.close-button {
  padding: 6px;
  cursor: pointer;
}
